body{
    background-image: url("img/vec stellar.webp");
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 20px;
    align-items: center;
    color: white;
    text-align: center;
}
